<br>
<h1>About Us</h1>
<br>
<img src="http://www.lehighvalleymarketplace.com/wp-content/uploads/2016/05/muellers_feature-1110x600.jpg" alt="eddiEATs Korean American Fusion">
<br><br>
<p>We are a very small independent 40-seat restaurant in the heart of Saigon, serving globally inspired cuisine, that we like to call Korean American.  The menu is designed to be shared and dishes are proportionate to ordering a variety of items for the table. Our selections change nightly based on availability and the desire to showcase carefully sourced products at their peak. We strive to update our menu online on a daily basis but what you see on our website may be slightly different than what is being offered that evening. </p>
<br>
<h5>EDDIEATS CREDO</h5>
<br>
<p>Please understand although we strive to serve food and drink with distinction we are still a small independent family run restaurant. No smoke and mirrors here. Just food from the heart. Our space is limited and our staff is small. We believe that we have the ability and resources to make all of our guests happy while dining in our "home" (as we see it). It can get loud in here when we are full but we believe this adds to the convivial atmosphere we provide. We are always happy here and this shows in the spirit of our restaurant.  If you are grumpy, pouty, crabby or just plain mean, this may not be the place for you. We look forward to serving you with all of our hearts and a smile.</p>
<br>
<h5>DIETARY RESTRICTIONS</h5>
<br>
<p>We take allergies seriously and to avoid the potential of product crossover we don't allow for modifications or alterations to any dishes but will be happy to guide you towards items that are suitable to your dietary needs. We strive to keep a balanced menu with offerings for vegetarian and pescetarians alike.</p>
<br>
<h5>KIDS</h5>
<br>
<p>As parents ourselves we advise families with small children to visit us between 5pm - 6pm for a more relaxing experience. We offer a nutritious kids menu that features local produce and meats. There is also a newly updated park with swings and things to play on across the street!</p>
<br>
<h5>BEVERAGE/CORKAGE</h5>
<br>
<p>Our beverage program offers an affordable and exciting wine list along with a few seasonal cocktails & beers. All selections have been carefully chosen to compliment our food. No outside food or beverages allowed. </p>
<br>
<h5>RESERVATIONS/SEATING POLICY</h5>
<br>
<p>Reservations are for seats in the restaurant. As a large portion of our seating is communal, as we strive to make everybody comfortable in our restaurant, having a reservation does not guarantee a private table. </p>
<br>
<p>To be considerate to other guests we may ask for our table back once you have paid your bill if we have a wait list. </p>
<br>
<h5>WALK-INS</h5>
<br>
 <p>We do accept walk-ins on a first come first serve basis. Your party must be complete in order to be seated. For groups of 4 to 6 we do encourage making a reservation. </p>
<br>
<h5>ACCESSIBILITY</h5>
<br>
<p>We are handicapped accessible, we kindly ask to make a note on your reservation so we can offer you a table that best suits your needs.</p>
<br>
<br>