<br>
<h1>Contact Us</h1>
<br>
<br>
<br>
<div class="row">
	<div class="col-sm-7">
		<address>
		<h5>Address:</h5>
		<br>
		<strong>eddiEATs</strong>
		<br>
		10 Đặng Tất, Tân Định, Quận 1, 
		<br>
		Hồ Chí Minh, Vietnam
		<br>
		<br>
		<br>
		<h5>Telephone:</h5>
		<br>
		0123456789
		</address>
	</div>
	<div class="col-sm-5">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15676.956351120589!2d106.6889244!3d10.7929916!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8b18b057ab3b248b!2zQ-G7pWMgR-G6oWNoIFF1w6Fu!5e0!3m2!1sen!2s!4v1476690054293" width="445" height="345" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>