<div class="jumbotron">
	<h1 class="display-3">WELCOME TO EDDIEATS!</h1>
	<img src="https://beautifulkalkan.com/wp-content/uploads/2016/06/Post-2.jpg" alt="EDDIEATS"; style="width:1046px;height:336px;">
	<br>
	<p class="lead">Our goal at eddiEATs is to merge the gourmet with the familiar — providing fresh, delicious groceries and prepared foods at approachable prices, with the perks and services of an old-school neighborhood grocer.</p>
	<hr class="m-y-2">
	<p>Come in today or call for a reservation and join us as we cater to you and yours, a fine dining exceptional experience that is rivaled by none.</p>
	<p class="lead">
		<div class="btn-group" data-toggle="buttons">
  			<label class="btn btn-primary btn-lg active">
    	<input type="checkbox" checked autocomplete="off"><a href="/menu"> Menu</a>
  			</label>
  			<label class="btn btn-primary btn-lg active">
    	<input type="checkbox" autocomplete="off"><a href="/contact_us"> Contact Us</a>
  			</label>
	</p>
</div>